Flask==2.0.3
firebase-admin==5.2.0
requests==2.26.0
gunicorn==20.1.0
Flask-Cors==5.0.1
Flask-SQLAlchemy==2.5.1
eventlet==0.33.1
dnspython==2.2.1  # Example version, you may adjust it as needed
Werkzeug==2.0.3
flask-socketio==5.2.0
pandas==1.5.3  # Or use the latest version compatible with your app
pandas==1.5.3
numpy==1.21.6
xgboost==1.7.5  # or the latest version compatible with your environment
scikit-learn==1.0.2  # ✅ Added this line
